<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title></title>

  <!-- Leaflet CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
  integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
  crossorigin=""/>
  <!-- D3 -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.5.0/d3.min.js"></script>
  <!-- Leaflet JavaScript -->
  <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
  integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
  crossorigin=""></script>

  <!-- API Key -->
  <script type="text/javascript" src="../static/js/config.js"></script>




  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/superhero/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <link rel="stylesheet" href="../static/css/style.css">
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>
  <div class="wrapper">
    <div class="hero text-center">
      <h1>San Francisco Airbnb</h1>
      <h2>Identifying illegal units</h2>
      <p>Melissa, Shazeeye, Ilya, Yulia</p>
    </div>
    <div class="container">
   

      <!------------------------------ start of intro --------------------------------------->
      <div class="row margin-top-50">
        <div class="col-md-12">
          <h1>Background</h1>
          <p>blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah  blah </p>
        </div>
      </div>
      <!------------------------------ end of intro --------------------------------------->      

      <!------------------------------ start of intro --------------------------------------->
      <div class="row margin-top-50">
        <div class="col-md-12">
          <h1>Methodology</h1>
          <p>blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah  blah </p>
        </div>
      </div>
      <!------------------------------ end of intro --------------------------------------->     
      
      <!------------------------------ start of roomtype --------------------------------------->
      <div class="row margin-top-50">
        <div class="col-md-12">
          <h1>Room Type</h1>
          <div id="roomtype" class="">
            <p>Melissa's chart goes here. Your id to call in your js is id="roomtype"</p>
          </div>

          <p>blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah  blah </p>
        </div>
      </div>
      <!------------------------------ end of roomtype --------------------------------------->          

      <!------------------------------ start of neighborhoods --------------------------------------->
      <div class="row margin-top-50">
        <div class="col-md-12">
          <h1>Room Types by Neighborhoods</h1>
          <p>Shazeeye, your tag for the chart is  id="neighborhoods" </p>
          <p>Shazeeye, your tag for the pulldown is  id="selNeighborhood" </p>
          
          <p>blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah  blah </p>
        </div>
        <div class="col-md-2">
          <aside class="filters">
            <div class="panel panel-default">
              <div class="panel-heading">Select Neighborhood</div>
              <div class="panel-body">
                <form>
                  <div class="form-group">
                    <ul class="list-group" id="filters">
                      <!-- <li class="filter list-group-item">
                        <label for="date">Enter Data</label>
                        <input class="form-control" id="datetime" type="text" placeholder="Enter Data">
                      </li> -->

                      <li class="filter list-group-item">
                        <!-- <label for="date">Select Category</label> -->

                        <select id="selNeighborhood"></select>
                      </li>
                      
                    </ul>
                  </div>
                  <button id="filter-btn" type="button" class="btn btn-default">Filter</button>
                </form>
                
          
              </div>
            </div>
          </aside>
        </div>
        <div class="col-md-10">
          <div id="neighborhoods" class="">
            <p>Shazeeye's chart goes here. Your id to call in your js is id="neighborhoods"</p>
          </div>
        </div>
      </div>
      <!------------------------------ end of neighborhoods --------------------------------------->

      <!------------------------------ start of maps ---------------------------------------------->
      <div class="row margin-top-50">
        <div class="col-md-12">
          <h1>Mapping Legal vs. Illegal Entire Homes</h1>
          <div id="mapping" class="">
            <p>Ilya's map goes here. Your id to call in your js is id="mapping"</p>
          </div>

          <p>blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah  blah </p>
        </div>
      </div>
      <!------------------------------ end of maps -------------------------------------------------------->  

      <!------------------------------ start of legal vs. illegal ----------------------------------------->
      <div class="row margin-top-50">
        <div class="col-md-12">
          <h1>Legal vs. Illegal Entire Homes</h1>
          <div id="legalstatus" class="">
            <p>Melissa's pie chart goes here. Your id to call in your js is id="legalstatus"</p>
          </div>

          <p>blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah  blah </p>
        </div>
      </div>
      <!------------------------------ end of legal vs. illegal ------------------------------------------->          



    </div>
  </div>




  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.11.0/d3.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <script src="https://d3js.org/d3.v5.min.js"></script>

  <script src="../static/js/legal.js"></script>
  <script src="../static/js/mapping.js"></script>
  <script src="../static/js/neighborhoods.js"></script>
  <script src="../static/js/roomtype.js"></script>
</body>

</html>